body {
  font-family: Tahoma, sans-serif;
  font-size: 13px;
  width: 380px;
  height: 200px;
  background-color:  #f2f2f2;
  margin: 0; /*new*/
  padding: 0; /*new*/
}

.topLine{
  display: flex;
  width: 100%;
  background-color: #F77616;
  line-height: 0px;
  height: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#icon{
  padding-left: 5px;
  padding-top: 4px;
  padding-right: 5px;
  background: radial-gradient(circle at center, white 46%, transparent 61%);
  padding-bottom: 4px;
}

#title{
  padding-bottom: 0px;
  font-size: 20px;
  line-height:0px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  padding-left: 5px;
}

#viewButtons{
  padding-left: 56px;
  padding-top: 23px;
  border-bottom: 0px;
  font-size: 0px;
  outline: none;
}

#factButton{
  border: none;
  border-radius: 2px;
  background-color: #E25B10;\
  line-height: 20px;
}

#devButton { 
  background-color: #E25B10;
  border: none;
  color: #f2f2f2;
  border-radius: 2px;
  line-height: 15px;
  
}

.grade{
    padding-top: 10px;
    font-size:14px;
    padding-left: 12px;
}




.ScoreGraph{
     /* For button text center */
    position: absolute;          /* Position absolute */
    left: 29%;
    padding-top: 5%;
}
    .item {
        position: relative;
        float: left;
    }

    .item h2 {
        text-align:center;
        position: absolute;
        line-height: 130px;
        width: 100%;
    }

#scoreHTML{
  font-size: 26px;
}

#Example2Div{
    padding-top: 43%;
}

#tableHeader{
  font-size: 18px;
}

#factoids{
  padding-top: 44%;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
}

#fact{
 font-weight: bold;
 font-size:14px;
}

#actualFact{
  padding-left:6px;
  padding-top: 2px;
}

#emissionsLine{
  padding-top: 20px;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 2.5rem;   
}

#kwhID{
  padding-top: 2px;
  display: flex;
  bottom: 0;
  height: 2.5rem;   
}

#kwhScore{
 font-weight: bold;
}

#kwhTotal{
  padding-left: 4px;
  display: flex;
}

#co2ID{
  padding-top: 2px;
  display: flex;
  bottom: 0;
  height: 2.5rem;
}


#co2Score{
   /*padding-left: 80px;*/
   padding-left: 70px;
   font-weight: bold;
}

#co2Total{
  padding-left: 4px;
}

.hoverClass {
  position: relative;
  display: inline-block;
  border-top: 1px dotted gray;
  padding: 3px 0;
  padding-right: 3px;
}

.hoverClass .tooltiptextGrade {
  visibility: hidden;
  width: 240px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  /*left: 50%;
  margin-left: -60px;*/
  margin-left: -30px; 
  opacity: 0;
  transition: opacity 0.5s;
}

.hoverClass .tooltiptextGrade::after {
  content: "";
  position: absolute;
  top: 100%;
  top: 80%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent transparent;
}

.hoverClass:hover .tooltiptextGrade {
  visibility: visible;
  opacity: 1;
}

.tooltiptextGrade {
  font-size:12px;
  font-family: Tahoma, sans-serif;
}

table .row{
  color: #606060;
  text-align: right;
  font-size: 11px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 1px;
  line-height:25px;
}

.tableLine{
  padding-top:10px;
}

.barLabel{
/*  font-size: 1em;*/
  text-align: left;
  padding-right: 6px;
  color: #606060;
}

.wholeTable{
   border-right: 1px solid gray;
    
}


#footer{
  padding-top: 13px;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 2rem;   
}


#donate{
  padding-left: 12px;
}


.grade {
  position: relative;
  display: inline-block;

}

.grade .tooltiptextGrade {
  visibility: hidden;
  width: 240px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.5s;
}

.grade .tooltiptextGrade::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent transparent;
}

.grade:hover .tooltiptextGrade {
  visibility: visible;
  opacity: 1;
}

.tooltiptextGrade {
  font-size:12px;
  font-family: Tahoma, sans-serif;
}

#major{
    font-size: 18px;
}

#m1{
    padding-left: 8px;
}

#m2{
    padding-left: 8px;
}

#praise{
    font-size: 18px;
}

#p1{
    padding-left: 8px;
}

#p2{
    padding-left: 8px;
}

/* Style the tab content */
.tabcontent {
    
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    /*border-top: none;*/
    border: none;
}
#viewButtons button {
    background: transparent;
    cursor: pointer;
    color: #fff;
    background-color: #E25B10;/* Makes color of other button */
}
#viewButtons button.active, #viewButtons button:hover {
    background: #F2F2F2;
    color: #000;
}
